{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
       
        <img class="avatar avatar--xl" src="{% static 'images/hnglogo.jpg' %}" />

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'home' %}">Resume</a></li>
                <li class="header__menuItem"><a href="{% url 'inbox' %}">Messages</a></li>
               
            </ul>
        </nav>
    </div>
</header>